*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   background-color: black;
   display:flex ;
   align-items: center;
   justify-content: space-evenly;
   height: 10vh;
}
.header a{
    text-decoration: none;
    text-align: center;
    font-size:2rem;
}
.header img{
    height: 5vh;

}
.link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:33%;
    height: 10vh;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:33%;
    height: 20vh;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:33%;
    height: 10vh;
}
.link a{
    color: white;
}
.box1 img{
    height: 5vh;
}
.main{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}
.toy1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 33%;
}
.toy2{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sar1{
    font-size:50px;
    color: white;
}
.sar2{
    font-size:27px;
    color: white;
}
.sar3{
    font-size:17px;
    color: white;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footer p{
    background-color: black;
    color: white;
}




